In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
import pandas as pd
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine(f"sqlite:///austin_traffic2.sqlite")

In [3]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [4]:
# We can view all of the classes that automap found
Base.classes.keys()

['sensor_data', 'traffic_detector', 'travel_sensor']

In [5]:
# Save references to each table
Data = Base.classes.sensor_data
Detector = Base.classes.traffic_detector
Sensor = Base.classes.travel_sensor

In [6]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [7]:
# Perform a query to retrieve the data and precipitation scores
query = session.query(Sensor.kits_id, Sensor.location_latitude, Sensor.location_longitude,
                      Data.Month, Data.Day, Data.Day_of_Week, Data.Hour, Data.Minute, Data.Speed,
                     Data.Volume).filter(Sensor.kits_id == Data.KITS_ID).all()
df = pd.DataFrame(query, columns=['id', 'Latitude','Longitude', 'Month', 'Day', 'Day of Week', 'Hour',
                                 'Minute', 'Speed', 'Volume'])
df.head()

,id,Latitude,Longitude,Month,Day,Day of Week,Hour,Minute,Speed,Volume
0,20,30.261476,-97.737262,1,9,2,5,15,1,1
1,20,30.261476,-97.737262,1,17,3,4,15,1,1
2,20,30.261476,-97.737262,1,22,1,1,30,1,1
3,20,30.261476,-97.737262,2,16,5,3,45,1,1
4,20,30.261476,-97.737262,3,5,1,7,30,1,1

In [8]:
df.to_csv("Sensor_Volume_Location.csv")