In [12]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
import pandas as pd
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine(f"sqlite:///austin_traffic.sqlite")

In [3]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [4]:
# We can view all of the classes that automap found
Base.classes.keys()

['sensor_data', 'traffic_detector', 'travel_sensor']

In [6]:
# Save references to each table
Data = Base.classes.sensor_data
Detector = Base.classes.traffic_detector
Sensor = Base.classes.travel_sensor

In [7]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [15]:
# Perform a query to retrieve the data and precipitation scores
query = session.query(Data.int_id, Data.intname, Data.occupancy, Data.speed).all()
df = pd.DataFrame(query, columns=['int_id', 'intname','occupancy', 'speed'])
df.head()

   int_id         intname  occupancy  speed
0      23  BURNETPALM WAY        2.0   37.0
1      23  BURNETPALM WAY        2.0   35.0
2      23  BURNETPALM WAY        1.0   23.0
3      23  BURNETPALM WAY        2.0   41.0
4      23  BURNETPALM WAY        2.0   39.0